pkgbase = uvgl-skel-lxqt-kamu
	pkgdesc = Settings for Kamuriki Linux Arch Edition
	pkgver = 23.05
	pkgrel = 1
	url = https://github.com/njb-fm/uvgl-skel
	arch = any
	license = GPL3
	depends = qterminal
	depends = pcmanfm-qt
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	replaces = uvgl-skel-lxqt-kamu-en
	replaces = uvgl-skel-lxqt-kamu-ja
	source = uvgl-skel-23.05.tar.gz::https://github.com/njb-fm/uvgl-skel/archive/refs/tags/v23.05.tar.gz
	sha256sums = de3e71f75205081db2afe74b62736eaa11538a911cfaa5af118df7fe80150e7c

pkgname = uvgl-skel-lxqt-kamu
