pkgbase = calamares-settings-univalent
	pkgdesc = Univalent Calamares Settings anf Branding
	pkgver = 23.01
	pkgrel = 4
	url = https://github.com/Jin-Asanami/uvgl-calam-cfg
	arch = any
	license = GPL3
	makedepends = git
	provides = uvgl-calam-cfg
	conflicts = uvgl-moe-calam-cfg
	options = !strip
	options = !emptydirs
	source = uvgl-calam-cfg::git+https://github.com/Jin-Asanami/uvgl-calam-cfg.git
	sha256sums = SKIP

pkgname = calamares-settings-univalent
