pkgbase = uvgl-calam-cfg
	pkgdesc = Calamares config for UVGL
	pkgver = 23.01
	pkgrel = 1
	url = https://github.com/Jin-Asanami
	arch = any
	license = GPL3
	makedepends = git
	provides = uvgl-calam-cfg
	conflicts = uvgl-moe-calam-cfg
	options = !strip
	options = !emptydirs
	source = uvgl-calam-cfg::git+https://github.com/Jin-Asanami/uvgl-calam-cfg
	sha256sums = SKIP

pkgname = uvgl-calam-cfg
