pkgbase = ibus-anthy-unicode
	pkgdesc = Japanese input method Anthy IMEngine for IBus Framework
	pkgver = 1.5.14
	pkgrel = 2
	url = https://github.com/ibus/ibus-anthy
	arch = x86_64
	license = LGPL
	makedepends = intltool
	makedepends = gobject-introspection
	depends = ibus
	depends = anthy-unicode
	depends = python
	depends = gtk-update-icon-cache
	depends = python-gobject
	conflicts = ibus-anthy
	source = https://github.com/ibus/ibus-anthy/archive/1.5.14/ibus-anthy-1.5.14.tar.gz
	sha512sums = 4d06d4e177df62d22c61bf6ebfda04ddbf545ea1947d0c315e3dfe5e48d9ddc57e5fcc89919ae3b9f7430e6124a5dfb1295f4ca7362fbc35714d627f80fae6d8

pkgname = ibus-anthy-unicode
