pkgbase = uvgl-skel-xfce-ja
	pkgdesc = Settings for Xunivalent GNU/Linux
	pkgver = 23.01
	pkgrel = 5
	url = https://github.com/jin-asanami
	arch = any
	license = GPL3
	makedepends = git
	depends = xfce4-terminal
	depends = thunar
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel-xfce-ja
	options = !strip
	options = !emptydirs
	source = uvgl-skel::git+https://github.com/jin-asanami/uvgl-skel
	sha256sums = SKIP

pkgname = uvgl-skel-xfce-ja
