pkgbase = uve-skel
	pkgdesc = Settings for Dunivalent Versatile Environment
	pkgver = 122.e0ad4c2
	pkgrel = 1
	url = https://github.com/njb-fm/uve-skel
	arch = any
	license = GPL3
	makedepends = git
	depends = deepin-desktop-base
	optdepends = yay: an AUR helper
	optdepends = neofetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uve-skel
	provides = uve-skel-deepin
	conflicts = uve-skel
	options = !strip
	options = !emptydirs
	source = uve-skel::git+https://github.com/njb-fm/uve-skel.git
	md5sums = SKIP

pkgname = uve-skel-deepin-git
