pkgbase = uvgl-skel-lxqt-ja
	pkgdesc = Settings for Univalent GNU/Linux
	pkgver = 22.12
	pkgrel = 4
	url = https://github.com/jin-asanami
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = qterminal
	depends = pcmanfm-qt
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel-lxqt-ja
	options = !strip
	options = !emptydirs
	source = uvgl-skel::git+https://github.com/jin-asanami/uvgl-skel
	sha256sums = SKIP

pkgname = uvgl-skel-lxqt-ja
