pkgbase = uvgl-skel-plasma-ja
	pkgdesc = Settings for Punivalent GNU/Linux
	pkgver = 23.02.1
	pkgrel = 1
	url = https://github.com/jin-asanami/uvgl-skel
	arch = any
	license = GPL3
	depends = konsole
	depends = dolphin
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel-plasma-ja
	options = !strip
	options = !emptydirs
	source = uvgl-skel-23.02.1.tar.gz::https://github.com/jin-asanami/uvgl-skel/archive/refs/tags/v23.02.1.tar.gz
	sha256sums = bc556cf385309f0204c1a2e47d26fa3b220db3f32772209af8412d6326e704a2

pkgname = uvgl-skel-plasma-ja
