pkgbase = uvgl-skel-plasma-ja
	pkgdesc = Settings for Punivalent GNU/Linux
	pkgver = 22.12
	pkgrel = 3
	url = https://github.com/jin-asanami
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = konsole
	optdepends = pcmanfm-qt: default file manager of Univalent Plasma Flavour
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel-plasma-ja
	options = !strip
	options = !emptydirs
	source = uvgl-skel::git+https://github.com/jin-asanami/uvgl-skel
	sha256sums = SKIP

pkgname = uvgl-skel-plasma-ja
