pkgbase = fcitx-anthy-unicode
	pkgdesc = Fcitx Wrapper for anthy-unicode.
	pkgver = 0.2.4
	pkgrel = 1
	url = https://github.com/fcitx/fcitx-anthy
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = intltool
	depends = fcitx
	depends = anthy-unicode
	conflicts = fcitx-anthy
	source = https://download.fcitx-im.org/fcitx-anthy/fcitx-anthy-0.2.4.tar.xz
	sha512sums = 31865bed5ff58c36e0360f002e7bfe21a6874d046746d8c781d59df7f48b11dc0b749b825ce0ab26d9a7bdf2c08decac27e14530eff5d1af33dfb25dfd0a90cb

pkgname = fcitx-anthy-unicode
