pkgbase = uvgl-skel-i3wm
	pkgdesc = Settings for Uni3valent GNU/Linux
	pkgver = 23.05
	pkgrel = 1
	url = https://github.com/njb-fm/uvgl-skel
	arch = any
	license = GPL3
	depends = xfce4-terminal
	depends = pcmanfm-qt
	depends = lightdm
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	replaces = uvgl-skel-i3wm-en
	replaces = uvgl-skel-i3wm-ja
	options = !strip
	options = !emptydirs
	source = uvgl-skel-23.05.tar.gz::https://github.com/njb-fm/uvgl-skel/archive/refs/tags/v23.05.tar.gz
	sha256sums = 81b2d249c19a494aa321d024475c1c22b199d07d1d187c6dfbf3f89aa16390e8

pkgname = uvgl-skel-i3wm
