pkgbase = plymouth-theme-mvgl-logo
	pkgdesc = A plymouth theme for Moevalent GNU/Linux
	pkgver = 1.0
	pkgrel = 1
	url = https://osdn.net/projects/univalentgnulinux
	arch = any
	license = GPL
	depends = plymouth
	conflicts = plymouth-theme-mvgl-logo-git
	source = https://osdn.net/projects/univalentgnulinux/storage/aur/plymouth-theme-mvgl-logo/plymouth-theme-mvgl-logo-1.0.tar.gz
	sha512sums = 2105ec071f2a13adf77e822d73e79db2ae09d6f7005e2e090ea056638d11e3eb1caaad46a91e4ae04cfead95151e3d9700199b377e647afdde831f2d3a24d57f

pkgname = plymouth-theme-mvgl-logo
