pkgbase = kasumi-unicode-git
	pkgdesc = Dictionary management tool for anthy-unicode
	pkgver = r162.e7bf93c
	pkgrel = 1
	url = https://github.com/fujiwarat/kasumi-unicode
	arch = x86_64
	license = LGPL
	license = GPL
	makedepends = gcc11
	makedepends = git
	depends = anthy-unicode
	depends = gtk3
	provides = kasumi-unicode
	conflicts = kasumi
	source = kasumi-unicode::git+https://github.com/fujiwarat/kasumi-unicode.git
	sha512sums = SKIP

pkgname = kasumi-unicode-git
