pkgbase = calamares
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.2.61
	pkgrel = 5.1
	url = https://github.com/calamares/calamares/releases
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-translations
	makedepends = git
	makedepends = boost
	depends = kconfig
	depends = kcoreaddons
	depends = kiconthemes
	depends = ki18n
	depends = kio
	depends = solid
	depends = yaml-cpp
	depends = kpmcore>=4.2.0
	depends = mkinitcpio-openswap
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = qt5-svg
	depends = polkit-qt5
	depends = gtk-update-icon-cache
	depends = plasma-framework
	depends = qt5-xmlpatterns
	depends = squashfs-tools
	depends = libpwquality
	depends = efibootmgr
	depends = icu
	backup = usr/share/calamares/modules/bootloader.conf
	backup = usr/share/calamares/modules/displaymanager.conf
	backup = usr/share/calamares/modules/initcpio.conf
	backup = usr/share/calamares/modules/unpackfs.conf
	source = calamares-3.2.61::https://github.com/calamares/calamares/releases/download/v3.2.61/calamares-3.2.61.tar.gz
	source = calamares.desktop
	sha256sums = 7591b9b60738bdba7b9de2b8da5462ab21006db06a006f0dd21ac5b832711dd2
	sha256sums = 2e30ef1d4c8999d7ff51b1f6ce5b80d10642a93ebbffc8c447685779e2ad795a

pkgname = calamares
