pkgbase = uvgl-skel-lxqt-moe-ja
	pkgdesc = Settings for Moevalent GNU/Linux
	pkgver = 23.02
	pkgrel = 3
	url = https://github.com/jin-asanami/uvgl-skel
	arch = any
	license = GPL3
	depends = qterminal
	depends = pcmanfm-qt
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel-lxqt-moe-ja
	options = !strip
	options = !emptydirs
	source = uvgl-skel-23.02.tar.gz::https://github.com/jin-asanami/uvgl-skel/archive/refs/tags/23.02.tar.gz
	sha256sums = 4b31e691f261cd1006d641504238bab759f8813efeb83c90baf928dbf22654d7

pkgname = uvgl-skel-lxqt-moe-ja
