pkgbase = ipw2200-fw
	pkgdesc = Firmware for the Intel PRO/Wireless 2200BG
	pkgver = 3.1
	pkgrel = 9
	url = http://ipw2200.sourceforge.net/
	arch = any
	license = custom
	replaces = ipw2200
	source = https://osdn.net/projects/univalentgnulinux/storage/aur/ipw2x00-fw/ipw2200-fw-3.1.tgz
	md5sums = eaba788643c7cc7483dd67ace70f6e99

pkgname = ipw2200-fw
