pkgbase = plymouth-theme-uvgl-logo
	pkgdesc = A plymouth theme for Univalent GNU/Linux
	pkgver = 1.2
	pkgrel = 1
	url = https://osdn.net/projects/univalentgnulinux
	arch = any
	license = GPL
	depends = plymouth
	conflicts = plymouth-theme-uvgl-logo-git
	source = https://osdn.net/projects/univalentgnulinux/storage/aur/plymouth-theme-uvgl-logo/plymouth-theme-uvgl-logo-1.2.tar.gz
	sha512sums = 40cb25879cf3383ed6a6860bbacc5cc6bd1c97017d6ae96dce6267614ddc77eb60043d3fae325b98a99407fddff023496be8e53bc2b4ad36319d5fd4ff1d0fe8

pkgname = plymouth-theme-uvgl-logo
