pkgbase = univalent-tools
	pkgdesc = System setting tools written in bash & whiptail
	pkgver = 2.0.1
	pkgrel = 2
	url = https://github.com/njb-fm/univalent-tools
	arch = any
	license = GPL3
	checkdepends = shellcheck
	depends = networkmanager
	depends = ntp
	depends = alsa-utils
	optdepends = univalent-logo: univalent icon
	conflicts = univalent-tools
	source = https://github.com/njb-fm/univalent-tools/archive/refs/tags/2.0.1.tar.gz

pkgname = univalent-tools
