pkgbase = uvgl-skel-gnome-en
	pkgdesc = Settings for Gunivalent GNU/Linux
	pkgver = 23.04
	pkgrel = 1
	url = https://github.com/jin-asanami/uvgl-skel
	arch = any
	license = GPL3
	depends = gnome-terminal
	depends = nautilus
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel-gnome-en
	options = !strip
	options = !emptydirs
	source = uvgl-skel-23.04.tar.gz::https://github.com/jin-asanami/uvgl-skel/archive/refs/tags/v23.04.tar.gz
	sha256sums = 75f36f4c6f8a3707d3539561362815246bf310cc09166a47705d98ed1f6a3bdb

pkgname = uvgl-skel-gnome-en
