pkgbase = univalent-mirrorlist
	pkgdesc = Univalent repository mirrorlists
	pkgver = 20221216
	pkgrel = 2
	url = https://njb-fm.github.io
	arch = any
	license = GPL3
	source = univalent-mirrorlist
	sha256sums = a9115e3610cb50576a09b6e061878d786e1d4c48cc0150516dcfc47b0475dcbf

pkgname = univalent-mirrorlist
