pkgbase = univalent-mirrorlist
	pkgdesc = Univalent repository mirrorlists
	pkgver = 20221216
	pkgrel = 1
	url = https://njb-fm.github.io
	arch = any
	license = GPL3
	source = univalent-mirrorlist
	sha256sums = 009cc9e17835c8c93b86e42e6f63dff59a5cd3173ff930b315c4beed80d04e38

pkgname = univalent-mirrorlist
