pkgbase = uve-skel
	pkgdesc = Settings for Budgivalent Versatile Environment
	pkgver = 132.da0b8f0
	pkgrel = 1
	url = https://github.com/njb-fm/uve-skel
	arch = any
	license = GPL3
	makedepends = git
	optdepends = yay: an AUR helper
	optdepends = neofetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uve-skel
	provides = uve-skel-budgie
	conflicts = uve-skel
	options = !strip
	options = !emptydirs
	source = uve-skel::git+https://github.com/njb-fm/uve-skel.git
	md5sums = SKIP

pkgname = uve-skel-budgie-git
