pkgbase = univalent-tools
	pkgdesc = System setting tools written in bash, inspired by Alter Linux i3wm
	pkgver = 1.3
	pkgrel = 1
	url = https://github.com/Jin-Asanami/univalent-tools
	arch = any
	license = GPL3
	checkdepends = shellcheck
	depends = arandr
	depends = networkmanager
	depends = ntp
	depends = alsa-utils
	optdepends = unifetch: show system info
	optdepends = univalent-logo: univalent icon
	conflicts = univalent-tools
	source = https://github.com/Jin-Asanami/univalent-tools/archive/refs/tags/1.3.tar.gz
	sha512sums = ddadf8f1780c521e8c89ac57a58d2f65c2248000895cf824b5f9a3848f95533f94a6ea98cb73eb4784fd19fca8c2fc33388794b226d2c5c4cdf5853cd04e963d

pkgname = univalent-tools
