pkgbase = uve-skel
	pkgdesc = Settings for Munivalent Versatile Environment
	pkgver = 23.07
	pkgrel = 1
	url = https://github.com/njb-fm/uve-skel
	arch = any
	license = GPL3
	depends = mate-terminal
	depends = caja
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uve-skel
	conflicts = uve-skel
	replaces = uvgl-skel-mate
	replaces = uvgl-skel-mate-ja
	replaces = uvgl-skel-mate-en
	options = !strip
	options = !emptydirs
	source = uve-skel-23.07.tar.gz::https://github.com/njb-fm/uve-skel/archive/refs/tags/v23.07.tar.gz
	md5sums = 1d87dece52da24122a350da973b57efa

pkgname = uve-skel-mate
