[Unit]
Description=univalent bootmnt dir
After=network.target

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/univabootmnt.sh"
Type=oneshot

[Install]
WantedBy=multi-user.target