pkgbase = ms-online-apps
	pkgdesc = Quick access to Microsoft Online Apps
	pkgver = 1.0
	pkgrel = 2
	url = https://osdn.net/projects/univalentgnulinux
	arch = any
	license = GPL3
	license = CC
	source = https://osdn.net/projects/univalentgnulinux/storage/aur/ms-online-apps/microsoft_online_apps.deb
	sha1sums = 8e770d3ce395332b330740a795fe104b4f78544b

pkgname = ms-online-apps
