pkgbase = wps-office-mui-ja-jp
	pkgdesc = Japanese mui traduction for WPS Office
	pkgver = 11.1.0.9080
	pkgrel = 2
	url = https://github.com/wachin/Backup-WPS-Office-MUI-packages
	arch = any
	license = GPL3
	depends = wps-office
	source = wps-mui-ja-jp.7z::https://github.com/wachin/Backup-WPS-Office-MUI-packages/releases/download/11.1.0.9080-2/ja_JP.7z
	sha256sums = a837cb5e637774bbd8c40fda49606d617ad2817dd060a638cb14b179cb82c331

pkgname = wps-office-mui-ja-jp
