pkgbase = univalent-keyring
	pkgdesc = Univalent PGP keyring
	pkgver = 20221215
	pkgrel = 1
	url = https://njb-fm.github.io
	install = univalent-keyring.install
	arch = any
	license = GPL
	makedepends = git
	source = git+https://github.com/njb-fm/univalent-keyring.git
	sha256sums = SKIP

pkgname = univalent-keyring
