pkgbase = uvgl-skel-i3wm-ja
	pkgdesc = Settings for Uni3valent GNU/Linux
	pkgver = 23.02
	pkgrel = 2.1
	url = https://github.com/jin-asanami/uvgl-skel
	arch = any
	license = GPL3
	depends = xfce4-terminal
	depends = pcmanfm-qt
	depends = lightdm
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel-i3wm-ja
	options = !strip
	options = !emptydirs
	source = uvgl-skel-23.02.tar.gz::https://github.com/jin-asanami/uvgl-skel/archive/refs/tags/23.02.tar.gz
	sha256sums = 08cf7f8d660998f33f9b9d477e43b4626e1a78ec6d24fa9e750bbb4fc4bc10c5

pkgname = uvgl-skel-i3wm-ja
