pkgbase = uvgl-skel-xfce-en
	pkgdesc = Settings for Xunivalent GNU/Linux
	pkgver = 23.03
	pkgrel = 2
	url = https://github.com/njb-fm/uvgl-skel
	arch = any
	license = GPL3
	makedepends = git
	depends = xfce4-terminal
	depends = thunar
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel-xfce-en
	options = !strip
	options = !emptydirs
	source = uvgl-skel-23.03.tar.gz::https://github.com/njb-fm/uvgl-skel/archive/refs/tags/v23.03.tar.gz
	sha256sums = 75f36f4c6f8a3707d3539561362815246bf310cc09166a47705d98ed1f6a3bdb

pkgname = uvgl-skel-xfce-en
