pkgbase = uvgl-skel-cinnamon
	pkgdesc = Settings for Cunivalent GNU/Linux
	pkgver = 23.06
	pkgrel = 1
	url = https://github.com/njb-fm/uvgl-skel
	arch = any
	license = GPL3
	depends = gnome-terminal
	depends = nemo
	optdepends = yay: an AUR helper
	optdepends = unifetch: screenfetch utility
	optdepends = cups: printing support
	optdepends = system-config-printer: CUPS status applet
	provides = uvgl-skel
	conflicts = uvgl-skel
	replaces = uvgl-skel-cinnamon-ja
	replaces = uvgl-skel-cinnamon-en
	options = !strip
	options = !emptydirs
	source = uvgl-skel-23.06.tar.gz::https://github.com/njb-fm/uvgl-skel/archive/refs/tags/v23.06.tar.gz

pkgname = uvgl-skel-cinnamon
