pkgbase = uvgl-unity-calam-cfg
	pkgdesc = Calamares config for UVGL Unity flavour
	pkgver = 22.12
	pkgrel = 1
	url = https://github.com/Jin-Asanami
	arch = any
	license = GPL3
	makedepends = git
	provides = uvgl-unity-calam-cfg
	conflicts = uvgl-calam-cfg
	conflicts = uvgl-moe-calam-cfg
	options = !strip
	options = !emptydirs
	source = uvgl-unity-calam-cfg::git+https://github.com/Jin-Asanami/uvgl-unity-calam-cfg
	sha256sums = SKIP

pkgname = uvgl-unity-calam-cfg
